.service-baner {
    background-image: url("../Image/service-baner.png");
    width: 100vw;
    height: 20vh;
}

.service-cards {
    min-height: 500px;
    /* Adjust as needed */
}

.bg-card {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.bg-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #2f94d2;
    z-index: -1;
    transition: transform 0.5s;
}

.bg-card:hover::after {
    transform: scaleY(1);
}

.bg-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bg-card h3 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #1c2434;
    /* #2f94d2   you can try this also */
}

.bg-card:hover h3 {
    color: white;
    transition: color 0.3s ease;
}

.bg-card p {
    font-size: 14px;
    color: #6b7280;
    /* #2f94d2   you can try this also */
    line-height: 1.6;
}

.bg-card:hover p {
    font-size: 14px;
    color: white;
    line-height: 1.6;
}

.bg-card img {
    width: 141px;
    height: 141px;
    transition: transform 0.3s ease;
}

.bg-card:hover img {
    transform: scale(1.1);
}

.bg-card img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.shim-blue {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 155, 255, 0.7);
}

.shim-blue::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
            rgb(0, 0, 0) 0,
            /* Light blue shimmer */
            rgba(0, 0, 0, 0.9) 50%,
            rgb(0, 0, 0) 100%
            /* Light blue shimmer */
        );

    animation: shimmer 2.5s ease-out infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
}


/* get-in-touch */